{% extends "base.html" %}
{% load get %}
{% load staticfiles %}


{% block head_block %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block title_header_big %}
    {{ block.super }}
{% endblock %}
{% block left_sidebar %}

   {% include 'osm/osm_project_left_sidebar.html' %}

{% endblock %}


{% block breadcrumb_body %}
    {{ block.super }}
    <li><a href="{% url "vims:list"   %}">VIMS</a></li>
{% endblock %}

{% block content_body %}
    {{ block.super }}
    {% include 'modal/vim_details.html' %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Registered VIM</h3>
                    <div class="box-tools">
                        <a href='{% url "vims:create"   %}' class="btn btn-block btn-primary btn-sm"><i
                                class="fa fa-plus"></i><span> New VIM</span></a>
                    </div>
                </div>
                <div class="box-body">
                    <table id="vims_table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifier</th>
                            <th>Type</th>
                            <th>Operational State</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in datacenters %}

                            <tr>
                                <td>{{ p|get:"name" }}</td>
                                <td>{{ p|get:"_id" }}</td>
                                <td>{{ p|get:"vim_type" }}</td>
                                <td>{{ p|get_sub:"_admin,operationalState"}}</td>
                                <td>{{ p|get_sub:"_admin,description" }}</td>


                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"
                                                onclick="location.href='{% url "vims:show"   vim_id=p|get:"_id" %}'" data-toggle="tooltip" data-placement="top" data-container="body" title="Show Info"><i
                                                class="fa fa-info"></i></button>
                                        <button type="button" class="btn btn-default"
                                                onclick="javascript:deleteVim('{% url "vims:delete"   vim_id=p|get:"_id" %}')" data-toggle="tooltip" data-placement="top" data-container="body" title="Delete"><i
                                                class="far fa-trash-alt" ></i></button>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block resource_block %}
    {{ block.super }}
    <script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
    $(document).ready( function () {
        $('#vims_table').DataTable();
    } );
    </script>
    <script>

        function deleteVim(url) {
            bootbox.confirm("Are you sure want to delete?", function (result) {
                if (result) {
                    location.href = url//'/vims/' + vim_uuid + '/delete'
                }
            })
        }
    </script>

{% endblock %}
