<div class="modal" id="modal_instance_export_metric" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Export metric</h4>
            </div>

            <form id="formExportMetricNS" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body" id="modal_instance_export_metric">


                    <div class="form-group">
                        <label for="metric_name" class="col-sm-3">Name *</label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="metric_name" name="metric_name" required>
                        </div>
                        <label for="metric_name" class="col-sm-3">Metric Name *</label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="metric_name" name="metric_name" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="vnf_member_index" class="col-sm-3">VNF Member index *</label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="vnf_member_index" name="vnf_member_index" required>
                        </div>
                        <label for="vdu_name" class="col-sm-3">VDU Name *</label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="vdu_name" name="vdu_name" required>
                        </div>
                    </div>

                    <div class="form-group">


                        <label for="correlation_id" class="col-sm-3">Correlation</label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="correlation_id" name="correlation_id" >
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="collection_unit" class="col-sm-3">Collection Unit</label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="collection_unit" name="collection_unit" >
                        </div>
                        <label for="collection_period" class="col-sm-3">Collection period </label>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="collection_period" name="collection_period" >
                        </div>

                    </div>
                    <div class="form-group">


                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right">Create</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
